[Unit]
Description=ACPI event daemon
Documentation=man:acpid(8)

[Service]
ExecStart=/usr/bin/acpid -nfS -c %h/.config/acpi/events

[Install]
WantedBy=default.target
