[Unit]
Description=%N service

[Service]
SyslogIdentifier=%N
ExecStart=/usr/bin/bash -c 'apod get && { apod set || true; }'
Restart=on-failure
RestartSec=1800
