[Unit]
Description=%N service

[Service]
SyslogIdentifier=%N
ExecStart=/bin/bash -c 'apod-get && { apod-bg || true; }'
Restart=on-failure
RestartSec=1800
