[Unit]
Description=gpg-agent service
IgnoreOnIsolate=true

[Service]
Type=forking
SyslogIdentifier=gpg-agent
ExecStart=/bin/bash -lc 'gpg-agent --daemon'
Restart=on-failure

[Install]
WantedBy=default.target
