[Unit]
Description=%N service
IgnoreOnIsolate=true

[Service]
ExecStart=/usr/bin/ssh-agent -a %t/ssh-agent -D
SuccessExitStatus=2
Restart=on-failure

[Install]
WantedBy=default.target
