[Unit]
Description=ssh-agent service
IgnoreOnIsolate=true

[Service]
Type=forking
SyslogIdentifier=ssh-agent
ExecStart=/bin/bash -lc 'rm -f "$SSH_AUTH_SOCK"; ssh-agent -a "$SSH_AUTH_SOCK" >/dev/null'
Restart=on-failure

[Install]
WantedBy=default.target
