[Unit]
Description=%N service

[Service]
SyslogIdentifier=%N
Restart=always

# 1)
#Type=forking
#ExecStart=/usr/bin/tmux -L %i new -d -s !

# 2)
#Type=forking
#ExecStart=/usr/bin/tmux -L %i start

# 3)
ExecStart=/usr/bin/tmux -L %i -D

[Install]
WantedBy=default.target
