[Unit]
Description=%N service

[Service]
Type=forking
SyslogIdentifier=%N
ExecStart=/usr/bin/tmux -L weechat set exit-empty on \; new -d -s ! weechat \
    -P alias,buflist,charset,irc,logger,perl,python,relay,script,spell,trigger
Restart=always

[Install]
WantedBy=default.target
