[Unit]
Description=%N service

[Service]
SyslogIdentifier=%N
Environment=WEECHAT_HOME=%h/.weechat
ExecStart=/usr/bin/weechat-headless
Restart=always

[Install]
WantedBy=default.target
