Host *
Compression yes
ControlMaster auto
ControlPath ~/.ssh/S.%r@%h:%p
ForwardAgent no
ForwardX11 no
HashKnownHosts yes
SendEnv LANG LC_ALL LC_COLLATE
ServerAliveInterval 100

Host <host>
HostName <hostname>
IdentityFile ~/.ssh/<identity>
User <user>
