# vim: ft=sshconfig

# -o ProxyCommand='socat - proxy:127.0.0.1:%h:%p,proxyport=3128,proxyauth=user:pass'

Host <host1> <host2> ... <hostN>
Hostname <hostname>
HostKeyAlias <alias>
IdentityFile <path>
User <user>

Match all
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
ControlMaster auto
ControlPath ~/.ssh/S.%r@%h:%p
IdentitiesOnly yes
LogLevel QUIET
SendEnv LANG LC_ALL LC_COLLATE
ServerAliveInterval 60
VerifyHostKeyDNS yes

# ----------------------------------------

Host <host1> <host2> ... <hostN>
Hostname <hostname>
HostKeyAlias <alias>
User <user>
DynamicForward 1081
LocalForward 9000 127.0.0.1:9000

Match all
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
ExitOnForwardFailure yes
IdentitiesOnly yes
ServerAliveCountMax 4
ServerAliveInterval 15
VerifyHostKeyDNS yes
