[user]
    name = Miroslav Koskar

[core]
    ;autocrlf = input
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitexcludes

[http]
    ;sslverify = false

[credential]
    helper = cache --timeout=3600
    helper = netrc

[alias]
    b = branch --all -vv
    ci = commit
    co = checkout
    conf = config --local --list
    d = difftool
    dc = difftool --cached
    df = diff
    dfc = diff --cached
    f = fetch --all
    k = !gitk
    lg = !git lg1
    lg1 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    lga = !git lg --all
    ls-untracked = ls-files --others
    set-email = !gitconf-setemail
    set-upstream = remote add upstream
    st = status -s
    stu = status -su

[color]
    pager = false
    ui = auto

[commit]
    template = ~/.gitmessage

[push]
    default = nothing

[merge]
    tool = vimdiff

[mergetool "vimdiff"]
    path = vimdiff

[format]
    ;signaturefile = ~/.gitsignature
    coverletter = auto
    signature =
    thread = shallow

[mailinfo]
    scissors = true
