*

!/.attic/
!/.config/
!/.config/nvim/
!/.config/ranger/
!/.config/systemd/
!/.config/systemd/user/
!/.local/
!/.local/share/
!/.local/share/dbus-1/
!/.local/share/unicode/
!/.mutt/
!/.terminfo/
!/.urxvt/
!/.urxvt/ext/
!/.vim/
!/.weechat.skel/
!/.weechat/
!/.xcolors/
!/.zfunctions/
!/bin/
!/opt/
!/opt/bin/
