*

!.attic

!.config/fontconfig/fonts.conf
!.config/gtk-3.0/bookmarks
!.config/gtk-3.0/settings.ini
!.config/aurvote.example
!.config/user-dirs.dirs

!.gnupg/gpg-agent.conf
!.gnupg/gpg.conf

!.icons/default/index.theme

!.moc/themes/my_theme
!.moc/config
!.moc/keymap

!.ssh/config.example

!.subversion/config

!.xmonad/xmonad.hs
!.xmonad/xmonad.hs.minimal

!bin

!.Xmodmap
!.Xresources
!.authinfo.example
!.bash_profile
!.bashrc
!.bcrc
!.gitconfig
!.gitignore
!.gtk-bookmarks
!.gtkrc-2.0
!.inputrc
!.makepkg.conf
!.netrc.example
!.pinforc
!.profile
!.screenrc
!.tmux.conf
!.vimperatorrc
!.vimrc
!.wgetrc
!.xinitrc
!.xmobarrc
