[user]
    name = Miroslav Koskar

[core]
    ;autocrlf = input
    attributesfile = ~/.gitattributes
    excludesfile = ~/.gitexcludes

[http]
    ;sslVerify = false

[credential]
    helper = cache --timeout=3600
    helper = netrc

[alias]
    b = branch
    st = status -s
    co = checkout
    ci = commit
    df = diff
    dfc = diff --cached
    d = difftool
    dc = difftool --cached
    lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n'' %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    lg = !"git lg1"

[color]
    ui = auto

[commit]
    template = ~/.gitmessage

[push]
    default = nothing

[merge]
    tool = vimdiff
