" vim: ft=vim fdm=marker

" ========== Moving Around, Searching and Patterns

set nowrapscan
set ignorecase
set smartcase

nnoremap <A-j> 5j
nnoremap <A-k> 5k

noremap <A-C-H> 15h
noremap <A-C-L> 15l

noremap <C-E> 5<C-E>
noremap <C-Y> 5<C-Y>

noremap zh 15zh
noremap zl 15zl

" ========== Displaying Text

set scrolloff=5
set sidescroll=15
set sidescrolloff=15
set nonumber

" ========== Syntax, Highlighting and Spelling

set hlsearch

nmap <Space> :nohls<Bar>echo<CR>

" ========== Multiple Windows

nnoremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-H> <C-W>h
nnoremap <C-L> <C-W>l

" ========== Messages and Info

set showmode
set novisualbell

" ========== Selecting Text

" Yank from cursor to the line end (consistent with D, C)
nnoremap Y y$

" ========== Command Line Editing

set history=1000

" ========== Various

set gdefault

nmap QQ :q<CR>
nmap QA :qall<CR>

nmap <A-l> :action NextTab<CR>
nmap <A-h> :action PreviousTab<CR>
nmap <A-S-k> :action MethodUp<CR>
nmap <A-S-j> :action MethodDown<CR>
nmap c<C-j> :action SplitHorizontally<CR>
nmap c<C-l> :action SplitVertically<CR>

imap <C-J> <Esc>:action InsertLiveTemplate<CR>a

noremap <F1> :action SelectIn<CR>
noremap <F2> :action ActivateProjectToolWindow<CR>
noremap ,tf :action SelectIn<CR>
noremap ,tt :action ActivateProjectToolWindow<CR>
