"========== moving around, searching and patterns
set nowrapscan
set ignorecase
set smartcase

"========== displaying text
set scrolloff=10
set sidescroll=10
set sidescrolloff=10
set nonumber

"========== syntax, highlighting and spelling
set hlsearch

nmap <Space> :nohls<Bar>echo<CR>

" spatial navigation
nnoremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-H> <C-W>h
nnoremap <C-L> <C-W>l

"========== messages and info
set showmode
set novisualbell

"========== command line editing
set history=500

"========== various
set gdefault

" let Y yank not entire line, but from cursor to the end (consistent with D, C)
nnoremap Y y$

nnoremap <A-j> 5j
nnoremap <A-k> 5k
vnoremap <A-j> 5j
vnoremap <A-k> 5k

nmap QQ :q<CR>
nmap QA :qall<CR>
nmap <C-X> :q<CR>

nmap <A-l> :action NextTab<CR>
nmap <A-h> :action PreviousTab<CR>
nmap <A-S-k> :action MethodUp<CR>
nmap <A-S-j> :action MethodDown<CR>
nmap c<C-j> :action SplitHorizontally<CR>
nmap c<C-l> :action SplitVertically<CR>

imap <C-J> <Esc>:action InsertLiveTemplate<CR>a

noremap <F1> :action SelectIn<CR>
noremap <F2> :action ActivateProjectToolWindow<CR>
noremap ,tf :action SelectIn<CR>
noremap ,tt :action ActivateProjectToolWindow<CR>
