set bell-style none
set bind-tty-special-chars off
set blink-matching-paren on
set colored-completion-prefix on
set colored-stats on
set completion-ignore-case on
set completion-map-case on
set echo-control-characters off
set editing-mode vi
set enable-bracketed-paste on
set history-size 1000
set keyseq-timeout 10
set mark-symlinked-directories on
set menu-complete-display-prefix on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set show-mode-in-prompt on
set skip-completed-text on
set vi-cmd-mode-string :
set vi-ins-mode-string +
set visible-stats on

set keymap vi-insert

$include ~/.inputrc.esc

# Unbind superfluous self-inserts (See: lib/readline/vi_keymap.c)
"\C-A":
"\C-B":
"\C-C":
"\C-E":
"\C-F":
"\C-G":
"\C-K":
"\C-L":
"\C-O":
"\C-Q":
"\C-X":
"\C-Z":
"\C-\\":
"\C-]":
"\C-^":

"\C-B": beginning-of-line
"\C-E": end-of-line
"\eh": backward-char
"\el": forward-char
"\eb": backward-word
"\ef": forward-word
"\ew": forward-word

"\C-?": backward-delete-char
"\C-H": backward-delete-char
"\C-U": backward-kill-line
"\C-K": kill-line
"\C-W": backward-kill-word
"\ed": kill-word
"\ex": delete-char

"\e0": digit-argument
"\e1": digit-argument
"\e2": digit-argument
"\e3": digit-argument
"\e4": digit-argument
"\e5": digit-argument
"\e6": digit-argument
"\e7": digit-argument
"\e8": digit-argument
"\e9": digit-argument

"\C-A": insert-completions
"\C-D": possible-completions
"\C-I": menu-complete
"\C-O": menu-complete-backward
"\e[Z": menu-complete-backward

"\e.": yank-last-arg
"\C-J": self-insert
"\C-R": reverse-search-history
"\C-S": forward-search-history
"\C-V": quoted-insert
"\C-X\C-A": vi-movement-mode
"\C-[": vi-movement-mode

"\C-G": abort
"\C-L": clear-screen
"\C-M": accept-line
"\C-P": history-search-backward
"\C-N": history-search-forward
"\ep": history-substring-search-backward
"\en": history-substring-search-forward
"\e<": beginning-of-history
"\e>": end-of-history
"\ek": previous-screen-line
"\ej": next-screen-line

"\C-X\C-Xv": dump-variables
"\C-X\C-Xf": dump-functions
"\C-X\C-Xm": dump-macros

$if bash
    " ": magic-space
    "\ee": shell-expand-line
    "\C-X\C-E": edit-and-execute-command

    "\eB": shell-backward-word
    "\eF": shell-forward-word
    "\eW": shell-forward-word
    "\C-X\C-W": shell-backward-kill-word
    "\eD": shell-kill-word

    "\e\C-I": dabbrev-expand
    "\C-X\C-I": complete-into-braces

    "\C-X!": complete-command
    "\C-X$": complete-variable
    "\C-X*": glob-expand-word
    "\C-X/": complete-filename
    "\C-X@": complete-hostname
    "\C-Xg": glob-list-expansions
    "\C-X~": complete-username
    "\ei": complete-filename

    "\C-Xp": "\C-X\C-AA|& pg"
    "\C-XP": "\C-X\C-AIpgx "
    "\C-Xx": "\C-X\C-A0isudo "
    "\C-Xh": "\C-X\C-Addihistory 25 |& gi ''\C-X\C-Ai"
    "\C-Xa": "!!:*"
    "\C-Xl": "!!:$"
    "\C-Xs": "!!:gs/"
    "\C-X{": '{,.}\C-X\C-Ai'
    "\C-Xc": "--color=auto "
$endif

set keymap vi-command

$include ~/.inputrc.esc

"\C-G": abort
"\C-L": clear-screen
"\C-M": accept-line
"\C-P": history-search-backward
"\C-N": history-search-forward
"\e<": beginning-of-history
"\e>": end-of-history
"\ek": previous-screen-line
"\ej": next-screen-line

"-": vi-first-print
"gg": beginning-of-history
"G": end-of-history

"\C-X\C-Xv": dump-variables
"\C-X\C-Xf": dump-functions
"\C-X\C-Xm": dump-macros

$if bash
    "v": ""
    "\C-X\C-E": edit-and-execute-command

    "|": "A|& "
    "\C-Xp": "A|& pg"
    "\C-XP": "Ipgx "
    "\C-Xx": "Isudo "
    "\C-Xh": "ddihistory 25 |& gi ''\C-X\C-Ai"
    "\C-Xa": "a!!:*"
    "\C-Xl": "a!!:$"
    "\C-Xs": "a!!:gs/"
$endif

# Workaround for https://github.com/Qalculate/libqalculate/issues/810
$if qalc
    set vi-cmd-mode-string (cmd)
    set vi-ins-mode-string (ins)
$endif
