set bell-style none
set bind-tty-special-chars off
set colored-stats on
set completion-prefix-display-length 2
set editing-mode vi
set keyseq-timeout 10
set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-mode-in-prompt on
set skip-completed-text on

set keymap vi-insert

"\C-l": clear-screen
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-o": menu-complete
"\C-k": menu-complete-backward
"\C-w": backward-kill-word

"\C-x": noop
"\C-xp": "\eIpgx \e0"
"\C-xP": "\eA | pg\eF|h"

$if bash
    "\C-xx": "\e0isudo \e0"
    "\C-xh": "\eddihistory 25 | gi ''\ei"
    "\C-xa": "\ea!!:*\e"
    "\C-xl": "\ea!!:$\e"
    "\C-xs": "\ea!!:gs/"
    "\C-xc": "--color=auto "
$endif

$if python
    "\C-xh": "\eddihelp()\ei"
$endif

set keymap vi-command

"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-w": backward-kill-word

"\C-x": noop
"\C-xp": "Ipgx \e0"
"\C-xP": "A | pg\eF|h"

$if bash
    "\C-xx": "Isudo \e0"
    "\C-xh": "ddihistory 25 | gi ''\ei"
    "\C-xa": "a!!:*\e"
    "\C-xl": "a!!:$\e"
    "\C-xs": "a!!:gs/"
$endif

$if python
    "\C-xh": "ddihelp()\ei"
$endif
