# vim: ft=conf

MaxMessages 5000
Create Slave
Expunge Both
SyncState *

# example
# -------

IMAPAccount example
Host <host>
User <user>
PassCmd "authinfo <machine> <login>"
SSLType IMAPS
CertificateFile /etc/ssl/certs/ca-certificates.crt

IMAPStore example-remote
Account example

MaildirStore example-local
Path ~/mail/example/
Inbox ~/mail/example/INBOX
Flatten .

Channel example
Master :example-remote:
Slave :example-local:
Patterns *
