defaults
auth on
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile ~/.msmtp.log

account <account>
from <from>
host <host>
port <port>
user <user>
password <password>
passwordeval <passwordeval>
