! xcolors --------------------------------------------------------------------
#include ".xcolors/default"
!#include ".xcolors/base16/base16-default.dark.xresources"

! xterm ----------------------------------------------------------------------
XTerm.termName:                 xterm-256color
XTerm.backarrowKeyIsErase:      true

!XTerm*vt100.boldColors:         false
XTerm*vt100.dynamicColors:      true
XTerm*vt100.italicULMode:       false

XTerm*vt100.faceName:           xft:local_terminal_sized
XTerm*vt100.bellIsUrgent:       true
XTerm*vt100.bellOnReset:        false
XTerm*vt100.metaSendsEscape:    true
XTerm*vt100.saveLines:          8192
XTerm*vt100.utf8:               2
XTerm*vt100.printAttributes:    0
XTerm*vt100.printerCommand:     cat > $(mktemp -p ~/tmp xterm.XXXXXX)
XTerm*vt100.translations:       #override \n\
                                ~Shift ~Alt Ctrl <Key>H: string(\177) \n\
                                ~Shift <Key>Print: print() \n\
                                Shift <Key>Print: print-everything()

! urxvt ----------------------------------------------------------------------
URxvt.termName:         rxvt-unicode-256color

URxvt.cursorColor2:     1
URxvt.scrollColor:      gray20
URxvt.underlineColor:   #FDB436
!URxvt.intensityStyles:  false

URxvt.font:             xft:local_terminal_sized
URxvt.scrollstyle:      plain
URxvt.thickness:        5
URxvt.saveLines:        8192
URxvt.pointerBlank:     true
URxvt.urgentOnBell:     true
URxvt.iso14755:         false
URxvt.iso14755_52:      false
URxvt.cutchars:         '"()*,<>[]{}|\''
URxvt.print-pipe:       cat > $(mktemp -p ~/tmp urxvt.XXXXXX)

! ASCII BS  == 8   == \010 == ^H
! ASCII DEL == 127 == \177 == ^?

! BackSpace = BS
! C-BackSpace = DEL
! C-h = BS
!URxvt.backspacekey:         \010
!URxvt.keysym.C-BackSpace:   \177

! BackSpace = DEL
! C-BackSpace = BS
! C-h = DEL
URxvt.keysym.C-h:       \177
URxvt.keysym.A-C-h:     builtin:
URxvt.keysym.S-C-h:     builtin:

URxvt.perl-ext-common:  default,matcher,confirm-paste
URxvt.matcher.button:   1
URxvt.url-launcher:     firefox

! xcursor --------------------------------------------------------------------
Xcursor.theme:          Grounation
Xcursor.size:           22

! xft ------------------------------------------------------------------------
Xft.dpi:                96
Xft.antialias:          true
Xft.hinting:            true
Xft.hintstyle:          hintslight
Xft.autohint:           false
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault
