! See also: xrdb(1), appres(1)

#include ".xcolors/default"

! XTerm ----------------------------------------------------------------------
XTerm.termName:                 xterm-256color
XTerm.ptyInitialErase:          false

!XTerm*vt100.boldColors:         false
XTerm*vt100.colorBD:            #dddddd
XTerm*vt100.colorBDMode:        true
XTerm*vt100.dynamicColors:      true
XTerm*vt100.veryBoldColors:     4

! Since xterm does not support font fallback (only single font)
! it is reasonable to choose a font with a large set of glyphs.
XTerm*vt100.faceName:           xft:DejaVu Sans Mono:size=10

XTerm*vt100.bellIsUrgent:       true
XTerm*vt100.bellOnReset:        false
XTerm*vt100.metaSendsEscape:    true
XTerm*vt100.saveLines:          8192
XTerm*vt100.utf8:               2
XTerm*vt100.printAttributes:    0
XTerm*vt100.printerCommand:     cat > $(mktemp -p ~/tmp xterm.XXXXXX)
XTerm*vt100.translations:       #override \n \
                                Ctrl ~Alt Shift <Key>H: string(\177) \n \
                                ~Shift <Key>Print: print() \n \
                                Shift <Key>Print: print-everything()

! URxvt ----------------------------------------------------------------------
URxvt.termName:         rxvt-unicode-256color

!URxvt.intensityStyles:  false
!URxvt.underlineColor:   #fdb436
URxvt.colorBD:          15
URxvt.colorIT:          #d4c668
URxvt.cursorColor2:     1
URxvt.scrollColor:      gray20

! Since urxvt supports font fallback (for missing glyphs)
! every font resource can in fact contain font list.
URxvt.font:             xft:local_terminal_sized, \
                        xft:Symbola:pixelsize, \
                        xft:Symbola:pixelsize=9

URxvt.scrollstyle:      plain
URxvt.thickness:        5
URxvt.saveLines:        8192
URxvt.pointerBlank:     true
URxvt.urgentOnBell:     true
URxvt.iso14755:         true
URxvt.iso14755_52:      false
URxvt.cutchars:         '"()*,<>[]{}|\''
URxvt.print-pipe:       cat > $(mktemp -p ~/tmp urxvt.XXXXXX)

! ASCII BS  == 8   == \010 == ^H
! ASCII DEL == 127 == \177 == ^?

! BackSpace = BS
! C-BackSpace = DEL
! C-h = BS
!URxvt.backspacekey:         \010
!URxvt.keysym.C-BackSpace:   \177

! BackSpace = DEL
! C-BackSpace = BS
! C-h = DEL
URxvt.keysym.C-h:       \177
URxvt.keysym.M-C-h:     builtin:
URxvt.keysym.S-C-h:     builtin:

URxvt.perl-ext-common:          default,-option-popup,-readline,-searchable-scrollback,confirm-paste,keyboard-select,url-select,url-picker
URxvt.url-picker.launcher:      b
URxvt.url-select.launcher:      b
URxvt.url-select.underline:     true
URxvt.keysym.M-C-bracketleft:   perl:keyboard-select:activate
URxvt.keysym.M-C-slash:         perl:keyboard-select:search
URxvt.keysym.M-C-u:             perl:url-select:select_next
URxvt.keysym.M-C-o:             perl:url-picker

! Xcursor --------------------------------------------------------------------
Xcursor.theme:          Grounation
Xcursor.size:           22

! Xft ------------------------------------------------------------------------
Xft.dpi:                96
Xft.antialias:          1
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.autohint:           0
Xft.rgba:               rgb
Xft.lcdfilter:          lcddefault
