AuthorizedKeysFile .ssh/authorized_keys
KbdInteractiveAuthentication no
ListenAddress 172.31.1.12
PasswordAuthentication yes
Subsystem sftp /data/data/com.termux/files/usr/libexec/sftp-server
UseDNS no
X11Forwarding yes
