[Desktop Entry]
Type=Application
Name=XMonad
Exec=xmonad
NoDisplay=true
# name of loadable control center module
X-GNOME-WMSettingsModule=xmonad
# name we put on the WM spec check window
X-GNOME-WMName=XMonad
# back compat only 
X-GnomeWMSettingsLibrary=xmonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
