# vim: ft=conf

MaxMessages 5000
Create Both
Expunge Both
SyncState *


# example
# ----------------------------------------

IMAPStore example-remote
Host <host>
User <user>
PassCmd "authinfo.py <machine> <login>"
SSLType IMAPS
SSLVersions TLSv1.2

MaildirStore example-local
Path ~/mail/example/
Inbox ~/mail/example/INBOX
SubFolders Verbatim
Flatten .

Channel example
Far :example-remote:
Near :example-local:
Pattern *
