# vim: ft=conf

MaxMessages 5000
Create Slave
Expunge Both
SyncState *


# example
# ----------------------------------------

IMAPStore example-remote
Host <host>
User <user>
PassCmd "authinfo.py <machine> <login>"
SSLType IMAPS

MaildirStore example-local
Path ~/mail/example/
Inbox ~/mail/example/INBOX
SubFolders Verbatim
Flatten .

Channel example
Master :example-remote:
Slave :example-local:
Pattern *
