defaults
auth on
tls on
tls_starttls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile ~/.local/msmtp.log

account <account>
from <from>
host <host>
port <port>
user <user>
passwordeval <passwordeval>
