[Desktop Entry]
Name=Browser
Type=Application
Exec=b %u
Terminal=false
MimeType=application/x-extension-html;application/xhtml+xml;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
