[Desktop Entry]
Name=Browser
Type=Application
Exec=b %u
Terminal=false
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
