# vim: ft=conf

# Network
network.port_range.set = 7881-7889
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry

# Limits
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 60
throttle.max_peers.normal.set = 50
throttle.max_peers.seed.set = 50
throttle.max_uploads.set = 10

# Default dirs
directory.default.set = ~/download/torrents
session.path.set = ~/.local/share/rtorrent

# Watch dirs
schedule2 = watch_directory,5,5,load.start=~/download/*.torrent
